.singlePost {
  display: flex;
  /* align-items: center; */
  justify-content: center;

  flex: 9;
}

.singlePostWrapper {
  display: flex;
  background: url("../../image/postbg.jpg");
  padding: 0 20px 20px 20px;
  width: 100%;
  flex-direction: column;
}
.singlePostWrapper > img {
  align-self: center;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;

  width: 80%;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}
.singlePostTitle {
  text-align: center;
  margin: 10px;

  font-size: 2rem;
  font-weight: 700;
  color: rgb(206, 206, 211);

  /* filter: drop-shadow(1px 5px 10px #fff); */
  padding: 7px 0;
  font-family: "Josefin Sans", sans-serif;
}
.border {
  border: none;
  border-bottom: 1px solid rgb(219, 214, 214);
  background: transparent;
}
.border:focus {
  outline: none;
}
.singlePostEdit {
  display: flex;
  padding: 15px;
  /* height: 50px; */
  /* background: rgb(148, 55, 55); */
  align-items: center;
  justify-content: flex-end;
}
.singlePostEdit > .MuiSvgIcon-root {
  /* font-size: 1.5rem; */
  margin-left: 10px;
}
.singlePostEdit:first-child {
  color: aquamarine;
}
.singlePostInfo {
  display: flex;
  font-family: sans-serif;
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 600;
  align-items: center;
  justify-content: space-between;
}
.author {
  margin-left: 20px;
  font-size: 1rem;
}
.singlePostDesc {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #fff;
  align-self: center;
  width: 80%;

  line-height: 23px;
  font-size: 18px;
}

.singlePostDesc::first-letter {
  margin-left: 20px;
  font-size: 22px;
  font-weight: 700;
}
.update {
  margin-top: 15px;
  background: lightcoral;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  width: 100px;
  padding: 5px 10px;
  align-self: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  cursor: pointer;
}
