@import url("https://fonts.googleapis.com/css2?family=Fruktur&family=Lora:ital,wght@0,400;0,500;0,700;1,700&display=swap");
.about {
  padding: 15px;
  flex: 3;
  margin-left: 10px;
  padding-bottom: 30px;
  background: rgba(129, 128, 128, 0.3);

  display: flex;
  flex-direction: column;
}
.about_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about_item > img {
  width: 200px;

  margin-top: 15px;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.about_title {
  border-top: 2px solid rgb(207, 200, 200);
  text-align: center;
  padding: 10px;
  width: 90%;
  font-weight: 600;
  color: #0f0f0f;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-bottom: 2px solid rgb(207, 200, 200);
}
.about_me {
  font-family: "Lora", serif;
  font-weight: 500;
  padding: 5px;
}
.aboutItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutList {
  list-style: none;
  margin-bottom: 15px;
}
.aboutListItem {
  display: inline-block;
  width: 50%;
  font-family: "Fruktur", cursive;
  font-weight: 500;
  color: #444;

  font-size: 0.7rem;
  margin-bottom: 10px;
}
.aboutSocial {
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: center;
}
/* .aboutSocial > .MuiSvgIcon-root {
  margin-right: 15px;
} */
.facebook {
  color: rgb(43, 43, 247);
  margin-right: 0.5rem;
  font-size: 2rem;
}
.whatsapp {
  color: rgba(8, 197, 8, 0.89);
  margin-right: 0.5rem;
  font-size: 2rem;
}
.github {
  margin-right: 0.5rem;
  font-size: 2rem;
}
.mail {
  color: rgb(214, 11, 11);
  font-size: 2rem;
}
