.settings {
  display: flex;
}
.settingsWrapper {
  flex: 9;
  padding: 20px;
}

.settingsTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settingsUpdate {
  font-size: 30px;
  margin-bottom: 10px;
  color: lightcoral;
}
.settingsDelete {
  color: red;
  font-size: 15px;
  cursor: pointer;
}
.settingsForm {
  display: flex;
  flex-direction: column;
  position: relative;
}
.success {
  font-family: fantasy;
  font-size: 20px;
  font-weight: 600;
  color: tomato;
  height: 40px;
  align-self: center;
  position: absolute;
  top: 50px;
}

.settingsPP {
  display: flex;
  align-items: center;
  margin: 10px 0px;
}
.settingsPP > img {
  width: 70px;
  height: 70px;
  border-radius: 15px;
  object-fit: cover;
}
.settingsPP > label > .MuiSvgIcon-root {
  color: #fff;
}
.settingsPPIcon {
  width: 25px;
  height: 25px;
  background-color: lightcoral;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.settingsForm > label {
  font-size: 20px;
  margin-top: 20px;
  font-weight: 600;
  color: #444;
  font-family: "josefin sans";
}
.settingsForm > input {
  color: #666;
  margin: 10px 0;
  height: 30px;
  border: none;
  border-bottom: 1px solid lightgray;
}
.settingsForm > input:focus {
  outline: none;
}
.settingsSubmit {
  width: 150px;
  border: none;
  border-radius: 10px;
  color: #fff;
  background: teal;
  align-self: center;
  cursor: pointer;
  margin-top: 20px;
  padding: 10px;
}
